/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/
body {
  margin: 0;
}
.pixel {
  position: absolute;
  width: 15px;
  z-index: -2;
}

.moviles {
  /* clear: both; */
  /* position: relative; */
  float: left;
  margin-left: 20%;
  margin-top: 10%;
  margin-right: 4vw;
}

.derecha {
  position: relative;
  padding-top: 25vh;
  border: 2px;
  border-color: black;
}

.ha1{
  padding-top: 5vh;
  line-height:1.5em;
}

p{
  line-height:1.3em;
}

.medio {
  color:#1c5380;
  background-image: url("../images/frame.png");
  background-repeat: no-repeat;
  background-position: right 30% bottom 100%;
  text-align: left;
  margin-bottom: 10vh;
  margin right:90%;
  padding-left: 45vw;
  padding-right: 20vw;
  display: run-in;
}
.button{
  float:right;
  border:1em;
  border-radius: 5%;
  border-color:black;
  /* background-color: #1c5380; */
  color:white;
  margin-top: 1%;
  
  padding:1%;
  margin-right:19%;
  text-align:center;
  line-height:0.01;

}
footer{
  text-align: center;
  clear: both;
  color:#1c5380;
}